In [7]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

In [8]:


# Leitrura e Vizualização das Tabelas do database
base_rh = pd.read_excel("Base_RH.xlsx", sheet_name=None)
display(base_rh.keys())

dict_keys(['Metadados', 'Base'])

In [9]:
base = base_rh['Base']
base

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Turnover em uma empresa de tecnologia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,1466,Não,36,Viaja frequentemente,23,Ensino Técnico,Alto,H,Casado,2571,...,Não,17,1,17,3,Muito bom,5,2,0,3
1472,1467,Não,39,Viaja raramente,6,Ensino Médio,Muito Alto,H,Casado,9991,...,Não,15,1,9,5,Muito bom,7,7,1,7
1473,1468,Não,27,Viaja raramente,4,Ensino Superior,Médio,H,Casado,6142,...,Sim,20,1,6,0,Muito bom,6,2,0,3
1474,1469,Não,49,Viaja frequentemente,2,Ensino Superior,Muito Alto,H,Casado,5390,...,Não,14,0,17,3,Bom,9,6,0,8
1475,1470,Não,34,Viaja raramente,8,Ensino Superior,Médio,H,Casado,4404,...,Não,12,0,6,3,Excelente,4,3,1,2

In [10]:
# Retirar culnas duplicadas
base = base.drop_duplicates()

# Retirar linhas com valores nulos
base = base.dropna()

# Promover a primeira linha para o cabeçalho
base.columns = base.iloc[0]

# Remover a primeira linha
base = base[1:]

# Resetar o índice
base = base.reset_index(drop=True)

# Convertendo colunas para numérico, ignorando erros para tratar células não numéricas
colunas_numericas = ['Idade', 'Distância_do_trabalho', 'Salário', 'Qte_Empresas_Trabalhadas',
                     'Perc_de_aumento', 'Qte_ações_da_empresa', 'Tempo_de_carreira',
                     'Horas_de_treinamento', 'Tempo_de_empresa', 'Anos_no_mesmo_cargo',
                     'Anos_desde_a_ultima_promocao', 'Anos_com_o_mesmo_chefe']
base[colunas_numericas] = base[colunas_numericas].apply(pd.to_numeric, errors='coerce')

# O mesmo para categóricas
colunas_categoricas = ['Funcionário_deixou_a_empresa', 'Frequência de Viagens', 
                       'Formação', 'E-Sat', 'Gênero', 'Estado_Civil', 'Faz_hora_extras?', 
                       'Equilibrio_de_Vida']
base[colunas_categoricas] = base[colunas_categoricas].astype('category')
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            1470 non-null   object
 1   Funcionário_deixou_a_empresa  1470 non-null   category
 2   Idade                         1470 non-null   int64
 3   Frequência de Viagens         1470 non-null   category
 4   Distância_do_trabalho         1470 non-null   int64
 5   Formação                      1470 non-null   category
 6   E-Sat                         1470 non-null   category
 7   Gênero                        1470 non-null   category
 8   Estado_Civil                  1470 non-null   category
 9   Salário                       1470 non-null   int64
 10  Qte_Empresas_Trabalhadas      1470 non-null   int64
 11  Faz_hora_extras?              1470 non-null   category
 12  Perc_de_aumento               1470 non-null   int64
 13  Qte_ações_da_empresa          1470 non-null   int64
 14  Tempo_de_carreira             1470 non-null   int64
 15  Horas_de_treinamento          1470 non-null   int64
 16  Equilibrio_de_Vida            1470 non-null   category
 17  Tempo_de_empresa              1470 non-null   int64
 18  Anos_no_mesmo_cargo           1470 non-null   int64
 19  Anos_desde_a_ultima_promocao  1470 non-null   int64
 20  Anos_com_o_mesmo_chefe        1470 non-null   int64
dtypes: category(8), int64(12), object(1)
memory usage: 162.1+ KB